{% extends 'layout.html' %} {% block content %}
<br>
<div class='container well'>
    <form method='post' action='/users'>
        <div class='form-group-item'>
            <input type='text' name='name' class='form-control' placeholder='User'>
        </div>
        <div class='form-group-item'>
            <input type='submit' class='btn btn-primary' value='Add User'>
        </div>
    </form>
</div>
<div class='row'>
    <div class='panel'>

        {% for user in users %}
        <div class='col-sm-4'>
            <ul class='list-group'>
                <li class='list-group-item panel-heading'>{{user.name}}
                    <form method='post' action='/users/{{user.id}}?_method=DELETE'>
                        <button class='btn btn-danger'>Delete</button>
                    </form>
                </li>
                
                <!-- awards -->
                <li class='list-group-item panel-content'>
                    <form method='post' action='/users/{{user.id}}/awards'>
                        <button class='btn btn-success'>Add Award</button>
                    </form>
                    {% if user.awards.length > 0 %} Awards -
                    <ul class='list-group'>
                        {% for award in user.awards %}
                        <li class='list-group-item'> {{award.award}}
                            <form method='post' action='users/{{user.id}}/awards/{{award.id}}?_method=DELETE'>
                                <button class='btn btn-warning'>Delete Award</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>

                <!-- mentors -->
                <li class='list-group-item'>

                    {% if user.Mentor %}
                    <li class='list-group-item panel-footer h3'><span class='label label-primary'>Mentored by: {{user.Mentor.name}} </span>
                        <h1></h1>
                        <form method='post' action='/users/{{user.id}}?_method=PUT'>
                            <button class='btn btn-danger'>Remove Mentor</button>
                        </form>
                    </li>
                    {% else %}
                    <form method='post' action='/users/{{user.id}}?_method=PUT'>
                        <select name='mentor' class='panel-footer form-control'>
                            {% for mentor in users %} {% if mentor.awards.length > 1 and mentor != user %}
                                <option value = '{{mentor.id}}'>{{mentor.name}}</option>
                            {% endif %} {% endfor %}
                        </select>
                        <button class='btn btn-info'>Set as mentor</button>
                    </form>


                    {% endif %}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}